:root {
  --login-color: #ee4c4c;
}

#login {
  background-color: var(--login-color);
}

label {
  background-color: var(--login-color);
}

input[type="text"]:is(:active, :focus, :valid) + label,
input[type="password"]:is(:active, :focus, :valid) + label {
  transform: translateY(-2rem);
  font-size: 0.9rem;
  color: rgb(231, 231, 231);
}
